<div
  class="priv-topbar bg-primary flex gap-3 px-2 lg:px-4 justify-content-between align-items-center"
>
  <!-- <p-avatar [image]="user()?.companyLogo" class="mr-2 w-full block md:hidden" size="large" /> -->
  <span class="text-sm md:text-base lg:text-2xl font-bold text-white">{{
    heading()
  }}</span>
  <div class="flex align-items-center gap-2 lg:gap-3">
    @if (unreadActivitiesCount) {
    <p-overlaybadge
      [value]="unreadActivitiesCount"
      severity="danger"
      badgeSize="small"
    >
      <i
        class="pi pi-bell text-white cursor-pointer text-2xl"
        [routerLink]="['/notifications']"
      ></i>
    </p-overlaybadge>
    } @else {
    <i
      class="pi pi-bell text-white cursor-pointer text-2xl"
      [routerLink]="['/notifications']"
    ></i>
    } @if(user()?.role !== 'admin') {
    <p-avatar [image]="user()?.profilePicture" size="normal" shape="circle" />
    }
    <span class="text-xs md:text-sm lg:text-base text-white">{{
      user()?.email
    }}</span>
  </div>
</div>
